<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab3">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Noticias</ion-label> <!-- Ahora a la izquierda -->
    </ion-tab-button>

    <ion-tab-button tab="tab1" class="tab-center">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label> <!-- Ahora en el centro -->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label> <!-- Ahora a la derecha -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
