.tab-center {
    flex: 1;
    text-align: center;
  }
  ion-tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Dejarlo en un z-index bajo para evitar que tape contenido */
  }
  
  