<ion-header>
  <ion-toolbar>
    <ion-title>Noticias Porsche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="news-content">
  <ion-card *ngFor="let noticia of noticias" >
    <img [src]="noticia.imagen" alt="Noticia Imagen" class="noticia-imagen" />
    <ion-card-header>
      <ion-card-title>{{ noticia.titulo }}</ion-card-title>
      <ion-card-subtitle>Publicado el: {{ noticia.fecha }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ noticia.resumen }}
    </ion-card-content>
    <ion-footer>
      <ion-button expand="full" [routerLink]="['/news-detail', noticia.id]">Ver más</ion-button>
    </ion-footer>
    
  </ion-card>
</ion-content>