<ion-header>
  <ion-toolbar>
    <ion-title>{{ noticia.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="noticia.imagen" alt="Imagen Noticia" class="noticia-imagen" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ noticia.titulo }}</ion-card-title>
      <ion-card-subtitle>Publicado el: {{ noticia.fecha }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ noticia.contenido }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
