<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de la Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/noticia1.jpg" alt="Noticia Imagen" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Título de la Noticia</ion-card-title>
      <ion-card-subtitle>Publicado el: 06 de octubre, 2024</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Este es el contenido extendido de la noticia. Aquí puedes poner la noticia completa que quieres mostrar. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
